<%- include('partials/header.ejs') %>
    <div class="profileMain">
        <div class="profileBlock">
            <form action="/logout?_method=DELETE" method="POST" class="exitBT">
                <button type="submit">Выйти</button>
            </form>
            <div class="profileIMG">
                <img>
            </div>
            <div class="userInfo">
                <p><%= user.firstname %></p>
                <p><%= user.lastname %></p>
            </div>
            <div class="infoChange">
                <form><button>Изменить данные</button></form>
            </div>
            <div class="userStats">
                <div class="statsNaming">
                    <p>Дата регистрации</p>
                    <p>Почта</p>
                    <p>Пароль</p>
                </div>
                <div class="stats">
                    <p><%= user.created.toLocaleDateString('ru-RU') %></p>
                    <p><%= user.email %></p>
                    <p>*******</p>
                </div>
            </div>
            <div class="visitHistory">
                <p style="font-size: 22px; margin-bottom: 10px;">
                    История посещений
                </p>
                <div class="historyItem">
                    <div class="date">
                        <p>20.10.2023</p>
                    </div>
                    <div class="uslugaName">
                        <p>название услугу будет написано в этом месте</p>
                    </div>
                    <div class="price">
                        <p>30000<span> ₽</span></p>
                    </div>
                </div>
              
                </div>
            </div>
        </div>

    </div>