<%- include('partials/header.ejs') %>
    <div class="mainBlock">
        <div class="itemlist">
            <%
            const ImgCount = 6;
            const ArraySet = new Set();
            while (ArraySet.size !== ImgCount) {
                ArraySet.add((Math.random() * (ImgCount-1) + 1).toFixed());
            }
            const Arr = Array.from(ArraySet);
            console.log('\n')
            %>
            <% services.forEach((service, index) => { %>
            <div class="serviceItem">
                <div class="serviceInfo">
                    <p id="serviceName"><%= service.name %></p>
                    <p><%= service.description %></p>
                    <p class="servicePrice"><%= service.cost %> <span style="color: white;">₽</span></p>
                </div>
                
                <img src="/img/BGimg/service<%= Arr[index % ImgCount] %>.png" alt="">
            </div>
            <% }); %>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>